# Environnement virtuel
venv/
__pycache__/
*.py[cod]
*$py.class

# Fichiers de base de données
*.db
*.sqlite3

# Fichiers d'environnement (ne pas partager les vrais secrets)
.env

# Fichiers IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de logs
*.log

# Dossiers de build
.dist/
build/
dist/
